language: go

dist: bionic

go:
  - 1.14.x

env:
  global:
    - GO111MODULE=on

cache:
  directories:
    - $GOPATH/pkg/mod

sudo: required

before_install:
  ## checkers
  - curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $(go env GOPATH)/bin v1.23.8

addons:
  apt:
    packages:
    - clang
    - linux-headers-5.3.0-23-generic

script:
  - go get -u github.com/golang/protobuf/protoc-gen-go
  - go get -u google.golang.org/grpc
  - go get -u github.com/shurcooL/vfsgen/cmd/vfsgendev
  - make format
  - make
  - KERNEL_SRC_DIR=/lib/modules/5.3.0-23-generic/build make libexec/avx512.o
  - make golangci-lint
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)
