[Unit]
Description=A CRI proxy with (hardware) resource aware container placement policies.
Documentation=https://github.com/intel/cri-resource-manager

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/cri-resource-manager
ExecStart=/usr/bin/cri-resmgr $CONFIG_OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target
