#
# If you pass this file to cri-resmgr using the --fallback-config
# command line option, it will be used if configuration cannot be
# acquired from any other source (agent, or last configuration
# stored in the cache).
#
# Switching Policies:
#     Recent versions of cri-resmgr will allow changing the active
#     policy during startup. If you want to prevent this from hap-
#     pening you can pass the --disable-policy-switch option to
#     cri-resmgr on the command line.
#
#     With the stock packaging you can control whether startup-
#     phase policy switching is allowed using the POLICY_OPTIONS
#     variable in the sysconf file.
#
#     If switching policies is disabled, you can still reset the
#     active policy manually when cri-resmgr is not running. This
#     allows cri-resmgr to start up next with a new policy. You
#     do this by passing the --reset-policy command line option
#     to cri-resmgr. The full sequence of switching policies this
#     way is
#         - stop cri-resmgr (systemctl stop cri-resource-manager),
#         - reset the active policy (cri-resmgr --reset-policy),
#         - start cri-resmgr (systemctl start cri-resource-manager)
#

policy:
  Active: memtier
  ReservedResources:
    CPU: 750m
logger:
  Debug: resource-manager,cache,policy,resource-control
dump:
  Config: off:.*,full:((Create)|(Remove)|(Run)|(Update)|(Start)|(Stop)).*
