GHA_RUNNER_VERSION=''
GHA_RUNNER_URL=''
GHA_RUNNER_TOKEN=''
GHA_RUNNER_NAME="runner"

VM_CPUS='8'
VM_MEMORY='32768'
VM_DISK_SIZE='30GB'

PROXY=""
HTTP_PROXY="http://${PROXY}"
HTTPS_PROXY="http://${PROXY}"
NO_PROXY="localhost,127.0.0.1"
http_proxy="$HTTP_PROXY"
https_proxy="$HTTPS_PROXY"
no_proxy="$NO_PROXY"

# Optional DNS settings
DNS_SEARCH_DOMAIN=""
DNS_NAMESERVER=""

# Optional setting for cached repository packages.
# Example: http://example.com/pub/mirrors/ubuntu
REPO_PATH_CACHED_PACKAGES=""
