name: Publish

on:
  push:
    branches:
        - master

jobs:
  update-gh-pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        export PATH="$HOME/.local/bin:$PATH"
        sudo apt-get install -y python3-setuptools
        pip3 install --user -r docs/requirements.txt
    - name: Branch off base for updated gh-pages
      run: |
        git branch gh-pages
        git checkout gh-pages
    - name: Add latest generated docs to gh-pages
      shell: bash
      run: |
        PATH="$HOME/.local/bin:$PATH" make html
        cp -rv _build/html/* .
        for f in $(find _build/html -type f -name '.*'); do \
            cp -v $f ./${f#_build/html/}; \
        done
        for src in $(find _build/html -type f); do \
            dst="${src#_build/html/}"; \
            echo "adding generated $dst to git repo..."; \
            git add ./$dst; \
        done
        touch .nojekyll
        git add .nojekyll
        git config --global user.name "${GITHUB_ACTOR}"
        git config --global user.email "${GITHUB_ACTOR}@github.com"
        git commit -m "publish-docs.yml: generated latest html output." .
    - name: Publish/force-push to gh-pages
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git push -f https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git HEAD:gh-pages