name: Verify branches periodic

on:
  schedule:
    - cron: '30 2 * * 0'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  verify-code:
    uses: "./.github/workflows/common-verify-code.yaml"
    permissions:
      contents: read
      security-events: write
